**By Aditya Potdar**

In [ ]:
# p = input("Enter string: "); 
p = "superman" 
q = "batman"

In [ ]:
n_p = len(p) 
n_q = len(q)

In [ ]:
def convert(n):
  if n!=2 or n!=3:
    prime_no = [];
    for i in range(2, n+1): 
      c = 1
      for j in range(2, i+1):
        if(i%j)==0: 
          c +=1 
      if(c==2): 
        prime_no.append(j);  
    return prime_no

In [ ]:
prime_p = convert(n_p)[-1]
prime_q = convert(n_q)[-1]

In [ ]:
# P
prime_p

7

In [ ]:
# Q
prime_q

5

In [ ]:
# Calculate n
n = prime_p*prime_q 
print(n)

35

In [ ]:
# Totient Function (phi)
phi = (prime_p-1)*(prime_q-1) 
print(phi)

24

In [ ]:
# Find e
from math import gcd
e = [] 
for i in range(2, phi): 
  if(gcd(i, phi))==1: 
    e.append(i)  
print(e)

[5, 7, 11, 13, 17, 19, 23]

In [ ]:
if prime_p in e:
  e.remove(prime_p) 
if prime_q in e:
  e.remove(prime_q)

In [ ]:
d = 1
def compute_d(i, d):
  # print(i)
  while((d*i)%phi)!=1:
    d = d + 1 
  if(f_d==i):
    return compute_d(i, d+1), i
  else:
    return f_d, i

In [ ]:
for i in e:
  f_d, f_e = compute_d(i, 1)
  if(f_d>phi):
    continue 
  else:
    break
print(f_e)
print(f_d)

11
11
5

In [ ]:
# Encryption 
pt = 3669 
if(pt>n): 
  pt = pt%n 
print(pt)
ct = (pt**f_e)%n 
print(ct)

29
29

In [ ]:
# Decryption 
pt = (ct**d)%n 
print(pt)

29